.contentWrap {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 240px);
  box-sizing: border-box;
  overflow: auto;
  background-color: #050114;
  width: auto;
}

.contentWrapLight {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 240px);
  box-sizing: border-box;
  overflow: auto;
  background-color: beige;
  width: auto;
}

.cardsWrap {
  display: flex;
  flex-direction: row;
}

.backdrop {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}
