.notFound {
  text-align: center;
  margin-top: 50px;
}

.notFound h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.notFound p {
  font-size: 24px;
  margin-bottom: 20px;
}

.notFound button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}
