.detailedWrap {
  display: flex;
  width: 40vw;
  height: 100%;
  background-color: blue;
}
.descriptionWrap {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 20px;
  width: 100%;
}

.close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='black' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
  background-size: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
